* {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: #ffffff;
}

.heading-div, .heading{
    background-color: #ff98ab;
    border-radius: 20px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.heading{
    padding-bottom: 5px;
    padding-top: 5px;
}

body {
    background-color: #ffcad4;
    text-align: left;
    margin-top: auto;
    margin-bottom: 75px;
    margin-right: 20%;
    margin-left: 20%;
    border-radius: 20px;
    width: 60%;
    height: fit-content;
}

.menu{
    padding-left: 10px;
    padding-right: 10px;
}


div {
    background-color: #ffcad4;
}

label {
    background-color: #ffcad4;
}
  
input{
    border-radius: 5px;
    margin-bottom: 4px;
    height: 25px;
    width: 50px;
    background-color: #ffe9ed;
}

select{
    border-radius: 5px;
    margin-bottom: 4px;
    height: 25px;
    width: 150px;
    background-color: #ffe9ed;
}

.pattern{
    background-color: #ffcad4;
    text-align: left;
    text-wrap-mode: wrap;
    padding-left: 10px;
    padding-left: 10px;
    padding-bottom: 16px;
    border-radius: 20px;
}